<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Sign in</title>
	<link href="/static/dist/css/tabler.min.css" rel="stylesheet" />
</head>
<body>
	<div class="page page-center">
		<div class="container-tight py-4">
			<div class="text-center mb-4">
				<!-- <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/images/ai.png" height="100" alt=""></a> -->
			</div>
			<form class="card card-md" action="/auth/signin" method="post" autocomplete="off">
				<div class="card-body">
					<img class="mx-auto d-block" src="/static/images/logo.png" height="80" alt="">
					<p class="h1 text-center mb-3 mt-3">Login to Edgifi</p>
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<!-- <label class="form-label">{{ messages[0] }}</label>   -->
					<div class="alert alert-warning" role="alert">{{ messages[0] }}</div>
					{% endif %}
					{% endwith %}
					<div class="mb-3">
						<label class="form-label">ID
						</label>
						<input name="user" type="text" class="form-control" value="{{ user }}" placeholder="Enter ID">
					</div>
					<div class="mb-2">
						<label class="form-label">
							Password
						</label>
						<div class="input-group input-group-flat">
							<input name="password" type="password" class="form-control" placeholder="Password" autocomplete="off">
						</div>
					</div>
					<div class="form-footer">
						<button id="id_sign_in" type="submit" class="btn btn-primary w-100">Sign in</button>
					</div>
				</div>
			</form>
			<div class="text-center text-muted mt-3">
				Don't have account yet? <a href="/auth/signup" tabindex="-1">Sign up</a>
			</div>
		</div>
	</div>

</body>

</html>